@import '../../../sass/veriables.scss';
.container {
  &-title{
    font-size: 2rem;
    font-weight: 700;
    display: inline-block;
    margin-left: 1.3rem;
    margin-bottom: 1.5rem;
    @include respond(tab-mode){
      font-size: 3rem;
    }
  }

  &-svg{
    height: 2rem;
    width: 2rem;
    fill: var(--color-primary);
    @include respond(tab-mode){
      height: 3rem;
      width: 3rem;
    }
  }

  &__info{
    display: flex;
    align-items: center;
    padding: 0.6rem 0;

    p{
      padding-left: 1rem;
      color: #1d4885;
      font-size: 1.4rem;
      font-weight: 700;
      @include respond(tab-mode){
        font-size: 2rem;
      }
     
    }
  }
 
}